
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link logout">Logged out</a> from {{ user.username }}
            </p>
            <ul class="nav">
              <li {% if page == 'discover' %}class='active'{% endif %}><a href="#">Discover</a></li>
              <li {% if page == 'dashboard'%}class='active'{% endif %}><a href="#">Dashboard</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Question<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <form class="bs-docs-example">
                    <li>
                      <input class="dropdown-input" type="text" name="text" placeholder="Question" maxlength="140">
                    </li>
                    <li>
                      End Date: <input class="dropdown-dateinput dateinputfield" type="text" value="02/16/12" data-date-format="mm/dd/yy" id="dp2">
                    </li>
                    <li>
                      End Time:
                      <div class="input-append bootstrap-timepicker">
                        <input id="timepicker1" type="text" class="dropdown-timeinput input-small">
                        <span class="add-on"><i class="icon-time"></i></span>
                      </div>
                    </li>
                    <li>
                      Min Value: <input class="dropdown-minvalue minvalue-dropdown" type="text" name="minval" maxlength="5">
                      Max Value: <input class="dropdown-maxvalue maxvalue-dropdown" type="text" name="maxval" maxlength="5">
                    </li>
                    <li>
                      <button type="submit" class="btn btn-primary submitquestion">Submit</button>
                    </li>
                    {% csrf_token %}
                  </form>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>