<div class="question">
	<div class="question-text">
		Is android better than iPhone?
	</div>

	<div class="countdown">
		18:12
	</div>

	<div class="question-voter">
		<div class="minvalue">
			0
		</div>
		<div id="scrollbar" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 75%;"></a></div>

		<div class="minvalue">
			100
		</div>

		<button class="btn btn-small btn-primary" type="button"> Submit </button>

	</div>

</div>